
#wp-admin-bar-environment-indicator a:hover {
	background-color: transparent !important;
	color: gold !important;
}
#wp-admin-bar-environment-indicator a {
	color: gold !important;
}

#wp-admin-bar-warning-duplicate a:hover {
	background-color: #7a0000 !important;
	color: white !important;
}
#wp-admin-bar-warning-duplicate a {
	text-transform: uppercase;
	color: white !important;
	background-color: #7a0000 !important;
}

#wp-admin-bar-environment-indicator-cf a:hover {
	background-color: goldenrod !important;
	color: white !important;
}
#wp-admin-bar-environment-indicator-cf a {
	background-color: goldenrod !important;
	color: white !important;
}

.warning-duplicates{
	margin-bottom: 5px;
	padding: 20px 8px;
	width: 90%;
	background-color: #7a0000;
	color: white !important;
}

.whichenv {
	max-width: 1000px;
}
.whichenv .row {
	margin: 30px 10px;
}
.whichenv span {
	font-weight: bold;
}

.whichenv .urls input {
	width: 70%;
	float: right;
	margin-right: 15px;
}

.whichenv p {
	clear: both;
	padding-right: 25px;
}

@media (min-width: 690px) {
	.urls {
		width: 49%;
		display: inline-block;
		vertical-align: top;
	}
}

